/*
font-family: 'Calistoga', cursive;       Main Headers
font-family: 'Ibarra Real Nova', serif;  Main content
font-family: 'Amiri', serif;             Navs and Footers
*/

body{
  background-attachment:fixed;
  background-image: url(../images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
  z-index: 0;
}
#head{
  font-family: 'Calistoga', cursive;
  background: none;
  font-size: 1.3em;
  text-shadow: 5px 5px 15px black;
  color: #eef;
}

/* delete me */
#footer{margin-top: 65vh;}
