<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Roxbury Run Village</title>
    <meta name="og:title" content="Roxbury Run Village | Country Condos | Rentals">
    <meta name="og:description" content="Condos in the country NY for sale and rent,
    with plenty of skiing, golfing, hiking, kayacting, fishing, and much more near by.
    So if you're looking for Catskills home rentals, or looking to purchase one of
    the many Catskills homes, do keep in mind the Roxbury Run Village Association.">
    <meta name="og:keyword" content="roxbury run village, roxbury run village
    association, roxbury run ny, roxbury run rentals, catskills homes, catskills
    home rentals, ny country homes, ny country home rentals, homes in the country
    ny, delaware county ny, weekend home, low maintenance, no maintenance">
    <link href="https://fonts.googleapis.com/css?family=Amiri|Calistoga|Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/about.css">
  </head>
  <body>
    <header id='head'>
      <img id="head-img" src="../images/units1Crop.jpg" alt="">
      <h1 id="title">Roxbury Run Village</h1>
    </header>

    <section id="main-container">
      <nav id='nav'>
        <!-- Main Start-->
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
          <li><a class="test" href="../index.html">Home</a></li>
          <li><a class="test" href="#">About Us</a></li>
          <li><a class="test" href="amenities.html">Amenities</a></li>
          <li><a class="test" href="gallery.html">Gallery</a></li>
          <li><a class="test" href="localAttractions.html">Local Attractions</a></li>
          <!-- <li><a class="test" href="localWeather.html">Local Weather</a></li> -->
          <li><a class="test" href="location.html">Location</a></li>
          <li>
              <!-- Information Start-->
              <label for="drop-1" class="toggle">Information +</label>
              <a href="#">Information</a>
              <input type="checkbox" id="drop-1"/>
              <ul>
                  <li><a class="test" href="login/keyContacts.html">Key Contacts</a></li>
                  <li><a class="test" href="trails.html">Private Trails</a></li>
                  <li><a class="test" href="camera.html">Live Camera</a></li>
                  <li>
                    <!-- FOR HOMEOWNERS Start-->
                    <label for="drop-2" class="toggle">For Homeowners +</label>
                    <a href="#">For Homeowners</a>
                    <input type="checkbox" id="drop-2"/>
                    <ul>
                      <li><a class="test" href="login/byLaws.html">Governing Docs</a></li>
                      <li><a href="login/arch.html">Architectural Docs</a></li>
                      <li><a class="test" href="login/letters.html">Letters</a></li>
                      <li>
                        <!-- FORMS Start-->
                        <label for="drop-3" class="toggle">Forms +</label>
                        <a href="#">Forms</a>
                        <input type="checkbox" id="drop-3"/>
                        <ul>
                          <li><a href="login/registration.html">Registration Form</a></li>
                          <li><a href="login/exteriorMod.html">Modify Exterior App</a></li>
                          <li><a href="login/winterWatch.html">Winter Watch App</a></li>
                          <li><a href="login/tenant.html">Tenant Information</a></li>
                          <li><a href="login/guestInfo.html">Guest Information</a></li>
                          <li><a href="login/parkingApp.html">Parking Sticker App</a></li>
                        </ul>
                        <!-- FORMS End -->
                      </li>

                    </ul>
                    <!-- FOR HOMEOWNERS End-->
                  </li>

              </ul>
              <!-- Information End-->
          </li>
          <li><a href="covid-19.html">Coronavirus</a></li>
        </ul>
        <!-- main End-->

      </nav>

      <div class="sidebar">
        <li><a href="../index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="amenities.html">Amenities</a></li>
        <li><a href="trails.html">Private Trails</a></li>
        <li><a href="localAttractions.html">Local Attractions</a></li>
        <!-- <li><a href="localWeather.html">Local Weather</a></li> -->
        <li><a href="camera.html">Live Camera</a></li>
        <li><a href="location.html">Location</a></li>
        <li><a href="login/keyContacts.html">Key Contacts</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><span>Documents</span>
          <ul class="submenu">
            <li><a href="login/byLaws.html">Governing Docs</a></li>
            <li><a href="login/arch.html">Architectural Docs</a></li>
            <li><a href="login/letters.html">Letters</a></li>
          </ul>
        </li>
        <li><span>Forms</span>
          <ul class="submenu">
            <li><a href="login/registration.html">Registration Form</a></li>
            <li><a href="login/exteriorMod.html">Modify Exterior App</a></li>
            <li><a href="login/winterWatch.html">Winter Watch App</a></li>
            <li><a href="login/tenant.html">Tenant Information</a></li>
            <li><a href="login/guestInfo.html">Guest Information</a></li>
            <li><a href="login/parkingApp.html">Parking Sticker App</a></li>
          </ul>
        </li>
        <li><a href="covid-19.html">Coronavirus</a></li>
      </div>

      <div class="content">
        <div class="about-content">
          <div class="content-p">
            <p class="para">
              High on a mountainside in the Western Catskills Mountains of upstate New
              York, is Roxbury Run Village, an ideal community of 120. Broad sweeping
              vistas surround the mountaintop setting, which affords panoramic views
              to the valleys below and the mountains beyond.  Pastoral beauty is
              the living landscape of the Roxbury Run experience ~ wildflowers in
              the springtime, the scented greenery of the summer, vivid changing
              colors in autumn and glistening snowscapes in the winter.
            </p>

            <p class="para">
              Roxbury Run has evolved over the years into an easy lifestyle
              choice for primary home buyers as well as a perfect weekend retreat
              from career pressures, social obligations and the hectic pace of the
              city life.
            </p>
          </div>

          <img src="../images/units7Crop.png" alt="">

          <div class="content-p">
            <p class="para">
              Roxbury Run Village is not a condominium, nor is it a co-op.  You
              own your own home, but the landscaped lot it is built on is maintained
              for you.  An association of homeowners shares in the responsibility
              for maintenance and upkeep through a monthly fee to cover the
              maintenance of the exterior of each home as well as the "common areas"
              -roadways, parking areas walkways and recreational facilities (including
              hiking paths, four tennis courts, an Olympic size pool and a toddler
              playground).  No grass to cut, leaves to rake, garbage to dispose of,
              or snow to shovel.
            </p>

            <p class="para">
              Life at the Roxbury Run Village is an indoors/outdoors experience.
              Outdoor opportunities for physical exercise range from cross-country
              skiing and sledding to jogging and nature walks to tennis, or swimming
              in the heated pool.  Included on the property is a vast "forever wild"
              preserve, exclusively available for the use of residents.
            </p>
          </div>

          <video autoplay loop muted playsinline id="header-video">
            <source src="../videos/plow.mp4"/>
            Your browser does not support the HTML5 video tag.  Use a better browser!
          </video>

          <div class="content-p">
            <p class="para">
              A few moments away is the Catskills Recreational Center, a
              state-of-the-art community swimming and exercise facility, and
              several golf courses.  From the pool deck, you can see two local
              ski areas: Plattekill and Belleayre, both just a short drive away.
              Within 30 minutes are two more ski areas offering some of the finest
              skiing in the northeast.  Even closer is the picturesque village
              of Roxbury, where the famous naturalist John Burroughs' home,
              Woodchuck Lodge stands as a testament to his love for life in the
              Catskills and its natural resources.  Roxbury's beautiful  Memorial
              Church was named for Jay Gould, a famous former resident of Roxbury.
            </p>

            <p class="para">
              Roxbury is also home of the Roxbury Arts Group, which offers live
              entertainment, concerts, dance, theater, fine arts exhibitions, workshops,
              and arts programming for children and youths.  The towns
              surrounding Roxbury Run Village offers residents a wide variety of
              restaurants, antique shops, and shopping facilities.
            </p>
          </div>

          <img src="../images/fall19.jpg" alt="">

          <div class="content-p">
            <p class="para">
              Roxbury Run Village is completely private from the outside world,
              guarded by natural boundaries on three sides as well as a gatehouse
              at the entrance.  It's self-sufficient in all details, including a
              central water system and a central sewage system. All utility lines
              are concealed beneath the ground.
            </p>

            <p class="para">
              The contemporary two, three and four-bedroom homes were designed by an
              award-winning architect and each home has an outdoor deck.  Building
              sites were carefully chosen to provide residents with mountain and
              hillside views, yet harmonize with nature to preserve the abundance
              of aspens, maples, hemlocks and pines.
            </p>
          </div>


        <footer id="footer">
          <div class="contact-us">
            <p>Contact Us</p>
            <hr>
            <p>P.O. Box 115 Denver</p>
            <p>Ny 12421</p>
            <p>(607) 326-7677</p>
          </div>
          <div class="contact-me">
            <a href="http://legend-gary.com/">
              <div class="logo"></div>
              <div class="my-link">
                <p>Website By</p>
                <p>Legend Gary Developments</p>
              </div>
            </a>
          </div>
        </footer>
      </div>
    </section>

    <script src="../js/jquery.js"></script>
    <script src="../js/about.js"></script>
  </body>
</html>
