<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Roxbury Run Village</title>
    <link href="https://fonts.googleapis.com/css?family=Amiri|Calistoga|Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/amenities.css">
  </head>
  <body>
    <header id='head'>
      <h1 id="title">Roxbury Run Village</h1>
    </header>

    <nav id='nav'>
      <!-- Main Start-->
      <label for="drop" class="toggle">Menu</label>
      <input type="checkbox" id="drop" />
      <ul class="menu">
        <li><a class="test" href="../index.html">Home</a></li>
        <li><a class="test" href="about.html">About Us</a></li>
        <li><a class="test" href="#">Amenities</a></li>
        <li><a class="test" href="gallery.html">Gallery</a></li>
        <li><a class="test" href="localAttractions.html">Local Attractions</a></li>
        <!-- <li><a href="localWeather.html">Local Weather</a></li> -->
        <li><a class="test" href="location.html">Location</a></li>
        <li>
            <!-- Information Start-->
            <label for="drop-1" class="toggle">Information +</label>
            <a href="#">Information</a>
            <input type="checkbox" id="drop-1"/>
            <ul>
                <li><a class="test" href="login/keyContacts.html">Key Contacts</a></li>
                <li><a class="test" href="trails.html">Private Trails</a></li>
                <li><a class="test" href="camera.html">Live Camera</a></li>
                <li>
                  <!-- FOR HOMEOWNERS Start-->
                  <label for="drop-2" class="toggle">For Homeowners +</label>
                  <a href="#">For Homeowners</a>
                  <input type="checkbox" id="drop-2"/>
                  <ul>
                    <li><a class="test" href="login/byLaws.html">Governing Docs</a></li>
                    <li><a href="login/arch.html">Architectural Docs</a></li>
                    <li><a class="test" href="login/letters.html">Letters</a></li>
                    <li>
                      <!-- FORMS Start-->
                      <label for="drop-3" class="toggle">Forms +</label>
                      <a href="#">Forms</a>
                      <input type="checkbox" id="drop-3"/>
                      <ul>
                        <li><a href="login/registration.html">Registration Form</a></li>
                        <li><a href="login/exteriorMod.html">Modify Exterior App</a></li>
                        <li><a href="login/winterWatch.html">Winter Watch App</a></li>
                        <li><a href="login/tenant.html">Tenant Information</a></li>
                        <li><a href="login/guestInfo.html">Guest Information</a></li>
                        <li><a href="login/parkingApp.html">Parking Sticker App</a></li>
                      </ul>
                      <!-- FORMS End -->
                    </li>

                  </ul>
                  <!-- FOR HOMEOWNERS End-->
                </li>

            </ul>
            <!-- Information End-->
        </li>
        <li><a href="covid-19.html">Coronavirus</a></li>
      </ul>
      <!-- main End-->

    </nav>

    <div class="sidebar">
      <li><a href="../index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="#">Amenities</a></li>
      <li><a href="trails.html">Private Trails</a></li>
      <li><a href="localAttractions.html">Local Attractions</a></li>
      <!-- <li><a href="localWeather.html">Local Weather</a></li> -->
      <li><a href="camera.html">Live Camera</a></li>
      <li><a href="location.html">Location</a></li>
      <li><a href="login/keyContacts.html">Key Contacts</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><span>Documents</span>
        <ul class="submenu">
          <li><a href="login/byLaws.html">Governing Docs</a></li>
          <li><a href="login/arch.html">Architectural Docs</a></li>
          <li><a href="login/letters.html">Letters</a></li>
        </ul>
      </li>
      <li><span>Forms</span>
        <ul class="submenu">
          <li><a href="login/registration.html">Registration Form</a></li>
          <li><a href="login/exteriorMod.html">Modify Exterior App</a></li>
          <li><a href="login/winterWatch.html">Winter Watch App</a></li>
          <li><a href="login/tenant.html">Tenant Information</a></li>
          <li><a href="login/guestInfo.html">Guest Information</a></li>
          <li><a href="login/parkingApp.html">Parking Sticker App</a></li>
        </ul>
      </li>
      <li><a href="covid-19.html">Coronavirus</a></li>
    </div>

      <div class="content">

        <div class="trails container">
          <img class="image" src="../images/trails1.jpg" alt="">
          <div class="inner-container">
            <h1>Four Season Trails</h1>
            <p>
              There are miles of trails to walk in the Catskills, but you don't
              even have to leave the village to go for a walk in the woods.  We
              offer wild trails that are great for hiking or snowshoeing.
            </p>
          </div>
        </div>

        <div class="pool container">
          <img class="image" src="../images/steamyPool1.jpg" alt="">
          <div class="inner-container">
            <h1>Pool and Deck</h1>
            <p>
              We have an Olympic size pool that sits on top of a beautiful hill
              in the Catskills Mountains.  Our pool is both propane and solar-heated.
              There is also plenty of room for everyone, both lap swimmers looking
              to get a good workout and sunbathers looking for the perfect tan.
            </p>
          </div>
        </div>

        <div class="tennis container">
          <img class="image" src="../images/tennisCourt1.jpg" alt="">
          <div class="inner-container">
            <h1>Clay Tennis Courts</h1>
            <p>
              Like to play tennis?  Here you'll have access to 4 Har-Tru tennis
              courts that are maintained and watered(when needed). All four courts
              are enclosed by a high fence, for which you'll get a key. You'll also
              have courtside parking.
            </p>
          </div>
        </div>

        <div class="dog container">
          <img class="image" src="../images/dogRun1.jpg" alt="">
          <div class="inner-container">
            <h1>Community Dog Run</h1>
            <p>
              Here at the Community Dog Run, your family pet can run and play
              freely without a lease. Here we will keep a garbage can and a supply
              of baggies.
            </p>
          </div>
        </div>

        <div class="lawn container">
          <img class="image" src="../images/EntHgAlt.jpg" alt="">
          <div class="inner-container">
            <h1>Lawn Care</h1>
            <p>
              Our Roxbury Run landscapers take care of all our outdoor needs.
              The lawn care crew takes care of all the mowing, gardening and fall
              and spring cleanups.  Keeping the village looking neat and beautiful
              year-round.
            </p>
          </div>
        </div>

        <div class="snow container">
          <img class="image" src="../images/snow.jpg" alt="">
          <div class="inner-container">
            <h1>Snow Removal</h1>
            <p>
              Here at Roxbury Run, our maintenance crew will make sure you
              can get out, even when it snows.  The maintenance crew will plow
              the roads and shovel the walkways and your front steps.  All you
              have to do is enjoy winter!
            </p>
          </div>
        </div>

        <div class="exterior container">
          <img class="image" src="../images/maint.jpg" alt="">
          <div class="inner-container">
            <h1>Maintenance Free Living</h1>
            <p>
              The association maintains a hired staff that will do exterior maintenance
              on all the units routinely.  They also keep the roads and walkways
              safe and clear all year long.  Professional roofers are hired to put
              new roofs on the home as scheduled. Finally, professional painters
              re-stain the exteriors of the homes on a scheduled basis.
            </p>
          </div>
        </div>

        <div class="garbage container">
          <img class="image" src="../images/garbage.jpg" alt="">
          <div class="inner-container">
            <h1>Garbage Pick Up</h1>
            <p>
              Our local waste removal service comes every week, all you
              have to do is place it in a designated spot.  The waste removal
              service shows up every Monday year-round, and both Monday and Friday
              during the summer months.
            </p>
          </div>
        </div>


        <footer id="footer">
          <div class="contact-us">
            <p>Contact Us</p>
            <hr>
            <p>P.O. Box 115 Denver</p>
            <p>Ny 12421</p>
            <p>(607) 326-7677</p>
          </div>
          <div class="contact-me">
            <a href="http://legend-gary.com/">
              <div class="logo"></div>
              <div class="my-link">
                <p>Website By</p>
                <p>Legend Gary Developments</p>
              </div>
            </a>
          </div>
        </footer>
      </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/sidebarSet.js"></script>
  </body>
</html>
