<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Roxbury Run Village</title>
    <link href="https://fonts.googleapis.com/css?family=Amiri|Calistoga|Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/byLaws.css">
  </head>
  <body>
    <header id='head'>
      <h1 id="title">Roxbury Run Village</h1>
    </header>

    <section id="main-container">
      <nav id='nav'>
        <!-- Main Start-->
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
          <li><a class="test" href="../index.html">Home</a></li>
          <li><a class="test" href="about.html">About Us</a></li>
          <li><a class="test" href="amenities.html">Amenities</a></li>
          <li><a class="test" href="gallery.html">Gallery</a></li>
          <li><a class="test" href="localAttractions.html">Local Attractions</a></li>
          <!-- <li><a href="localWeather.html">Local Weather</a></li> -->
          <li><a class="test" href="location.html">Location</a></li>
          <li>
              <!-- Information Start-->
              <label for="drop-1" class="toggle">Information +</label>
              <a href="#">Information</a>
              <input type="checkbox" id="drop-1"/>
              <ul>
                  <li><a class="test" href="login/keyContacts.html">Key Contacts</a></li>
                  <li><a class="test" href="trails.html">Private Trails</a></li>
                  <li><a class="test" href="camera.html">Live Camera</a></li>
                  <li>
                    <!-- FOR HOMEOWNERS Start-->
                    <label for="drop-2" class="toggle">For Homeowners +</label>
                    <a href="#">For Homeowners</a>
                    <input type="checkbox" id="drop-2"/>
                    <ul>
                      <li><a class="test" href="../newsUpdates/byLaws.html">Governing Docs</a></li>
                      <li><a href="#">Architectural Docs</a></li>
                      <li><a class="test" href="../newsUpdates/letters.html">Letters</a></li>
                      <li>
                        <!-- FORMS Start-->
                        <label for="drop-3" class="toggle">Forms +</label>
                        <a href="#">Forms</a>
                        <input type="checkbox" id="drop-3"/>
                        <ul>
                          <li><a href="../forms/registration.html">Registration Form</a></li>
                          <li><a href="../forms/exteriorMod.html">Modify Exterior App</a></li>
                          <li><a href="../forms/winterWatch.html">Winter Watch App</a></li>
                          <li><a href="../forms/tenant.html">Tenant Information</a></li>
                          <li><a href="../forms/guestInfo.html">Guest Information</a></li>
                          <li><a href="../forms/parkingApp.html">Parking Sticker App</a></li>
                        </ul>
                        <!-- FORMS End -->
                      </li>

                    </ul>
                    <!-- FOR HOMEOWNERS End-->
                  </li>

              </ul>
              <!-- Information End-->
          </li>
          <li><a href="covid-19.html">Coronavirus</a></li>
        </ul>
        <!-- main End-->

      </nav>

      <div class="sidebar">
        <li><a href="../index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="amenities.html">Amenities</a></li>
        <li><a href="trails.html">Private Trails</a></li>
        <li><a href="localAttractions.html">Local Attractions</a></li>
        <!-- <li><a href="localWeather.html">Local Weather</a></li> -->
        <li><a href="camera.html">Live Camera</a></li>
        <li><a href="location.html">Location</a></li>
        <li><a href="login/keyContacts.html">Key Contacts</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><span>Documents</span>
          <ul class="submenu">
            <li><a href="login/byLaws.html">Governing Docs</a></li>
            <li><a href="#">Architectural Docs</a></li>
            <li><a href="login/letters.html">Letters</a></li>
          </ul>
        </li>
        <li><span>Forms</span>
          <ul class="submenu">
            <li><a href="login/registration.html">Registration Form</a></li>
            <li><a href="login/exteriorMod.html">Modify Exterior App</a></li>
            <li><a href="login/winterWatch.html">Winter Watch App</a></li>
            <li><a href="login/tenant.html">Tenant Information</a></li>
            <li><a href="login/guestInfo.html">Guest Information</a></li>
            <li><a href="login/parkingApp.html">Parking Sticker App</a></li>
          </ul>
        </li>
        <li><a href="covid-19.html">Coronavirus</a></li>
      </div>

      <div class="content">
        <h1>By Laws</h1>
        <h2>Click on document to view</h2>

        <div class="outer out-approve">
                <h3>APPROVED WINDOWS, SLIDING DOORS AND SKYLIGHTS </h3>
                <div class="inner in-approve">
                  Permits are required for all of the above replacements and or additions.
                  See below for the requirements:<br><br>
                  Before any work is started on any of the above, you must first submit
                  an “Application to Modify Exterior” form to the Association, with the
                  number of windows, sliding doors and/or skylights that are being replaced
                  and their location.  Barring any unusual request, a permit will be issued.
                  If you wish to install any other brand and/or type you are required to
                  first apply to the Association with all the specifics, including a product
                  brochure.<br><br>
                  WINDOWS and Doors - before ordering any window or door, your contractor
                  is required to speak with Richard Andersen, Maintenance Manager.<br><br>
                  Your contractor is required to come to this office and meet with Richard
                  Andersen to see an example of the window’s requirements for exterior trim,
                  etc.  Your contractor is required to supply measurements to the
                  distributor.<br><br>
                  1)  If there is a bank of windows (2 or more next to each other) all must
                  be replaced.  The brand you chose will be used for future replacements.<br>
                  2)  They must be the same size and style (casement) as the windows you
                  are replacing and/or previously installed.<br>
                  Windows for Clusters 1,2,3,4,32,33 are:
                      <div class="sub-list">
                        1) Simonton Windows:   Prime-  “Reflections - 550 Series” Vinyl –
                        White: available at  Bradco Supply Corp.  800-627-2320, Wadler
                        Brothers 845-245-5500 – or a dealership of your choice.<br>
                        2) Andersen Windows - Vinyl Clad – White ~ Not the exact same size and
                          installation will be more labor intensive.<br>
                      </div>
                  3)  Pella Windows – 350 Series – WHITE<br><br>
                  Windows for Clusters 5,6,8,9,44,45 are:<br><br>
                  1) Andersen Windows - Vinyl clad in Terratone. Not exact same size.
                  Installation more labor intensive <br>
                  2)  Jeld-Wen Windows – The Caradco Collection ~ Aluminum clad in Brown.
                  This is what is currently installed.  Available at Home Depot <br>
                  3)  Pella Windows – 350 Series - BROWN <br><br>
                  SLIDING DOORS – Must be same style and size as the ones you are replacing <br>
                  Clusters 1,2,3,4,32,and 33 must be white doors <br>
                  Clusters 5,6,8,9, 44 and 45 must be brown doors- Andersen goes by the
                  color “terratone” <br>
                  Andersen  Gliding Patio Doors (Vinyl Clad)                    Andersen
                  French Wood Door (Ext Vinyl Clad) <br>
                  PS  5  - R or L     	                                                       FWG  5068 R or  L <br>
                  PS  8 -  R or L     	                    		                FWG  8068  R or L <br>
                  Pella Pro Line Sliding Doors (Exterior Aluminum Clad)    Simington Sliding Door (All Vinyl ) No Brown <br>
                  5' R or L       				      		     5’    R or L <br>
                  8’ R or L      		                  			     8’    R or L <br>
                  SKYLIGHTS :  If there is more than one  skylight they must all be replaced. <br>
                  Replacements:  Velux FS/VS C08 or FS/VS C06 depending upon what size you currently have. <br>
                  New: Same models as above - submit a drawing of the roof, showing approximate location,
                  with measurements in relationship to top bottom and both sides of roof, with the size
                  skylight, fixed or vented.
                </div>
              </div>

        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br>

        <footer id="footer">
          <div class="contact-us">
            <p>Contact Us</p>
            <hr>
            <p>P.O. Box 115 Denver</p>
            <p>Ny 12421</p>
            <p>(607) 326-7677</p>
          </div>
          <div class="contact-me">
            <a href="http://legend-gary.com/">
              <div class="logo"></div>
              <div class="my-link">
                <p>Website By</p>
                <p>Legend Gary Developments</p>
              </div>
            </a>
          </div>
        </footer>
      </div>
    </section>

    <script src="../js/jquery.js"></script>
    <script src="../js/arch.js"></script>
  </body>
</html>
