<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Roxbury Run Village</title>
    <link href="https://fonts.googleapis.com/css?family=Amiri|Calistoga|Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/gallery.css">
  </head>
  <body>
    <header id='head'>
      <h1 id="title">Roxbury Run Village</h1>
    </header>

    <nav id='nav'>
      <!-- Main Start-->
      <label for="drop" class="toggle">Menu</label>
      <input type="checkbox" id="drop" />
      <ul class="menu">
        <li><a class="test" href="../index.html">Home</a></li>
        <li><a class="test" href="about.html">About Us</a></li>
        <li><a class="test" href="amenities.html">Amenities</a></li>
        <li><a class="test" href="#">Gallery</a></li>
        <li><a class="test" href="localAttractions.html">Local Attractions</a></li>
        <!-- <li><a href="localWeather.html">Local Weather</a></li> -->
        <li><a class="test" href="location.html">Location</a></li>
        <li>
            <!-- Information Start-->
            <label for="drop-1" class="toggle">Information +</label>
            <a href="#">Information</a>
            <input type="checkbox" id="drop-1"/>
            <ul>
                <li><a class="test" href="login/keyContacts.html">Key Contacts</a></li>
                <li><a class="test" href="trails.html">Private Trails</a></li>
                <li><a class="test" href="camera.html">Live Camera</a></li>
                <li>
                  <!-- FOR HOMEOWNERS Start-->
                  <label for="drop-2" class="toggle">For Homeowners +</label>
                  <a href="#">For Homeowners</a>
                  <input type="checkbox" id="drop-2"/>
                  <ul>
                    <li><a class="test" href="login/byLaws.html">Governing Docs</a></li>
                    <li><a href="login/arch.html">Architectural Docs</a></li>
                    <li><a class="test" href="login/letters.html">Letters</a></li>
                    <li>
                      <!-- FORMS Start-->
                      <label for="drop-3" class="toggle">Forms +</label>
                      <a href="#">Forms</a>
                      <input type="checkbox" id="drop-3"/>
                      <ul>
                        <li><a href="login/registration.html">Registration Form</a></li>
                        <li><a href="login/exteriorMod.html">Modify Exterior App</a></li>
                        <li><a href="login/winterWatch.html">Winter Watch App</a></li>
                        <li><a href="login/tenant.html">Tenant Information</a></li>
                        <li><a href="login/guestInfo.html">Guest Information</a></li>
                        <li><a href="login/parkingApp.html">Parking Sticker App</a></li>
                      </ul>
                      <!-- FORMS End -->
                    </li>

                  </ul>
                  <!-- FOR HOMEOWNERS End-->
                </li>

            </ul>
            <!-- Information End-->
        </li>
        <li><a href="covid-19.html">Coronavirus</a></li>
      </ul>
      <!-- main End-->

    </nav>

    <div class="sidebar">
      <li><a href="../index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="amenities.html">Amenities</a></li>
      <li><a href="trails.html">Private Trails</a></li>
      <li><a href="localAttractions.html">Local Attractions</a></li>
      <!-- <li><a href="localWeather.html">Local Weather</a></li> -->
      <li><a href="camera.html">Live Camera</a></li>
      <li><a href="location.html">Location</a></li>
      <li><a href="login/keyContacts.html">Key Contacts</a></li>
      <li><a href="#">Gallery</a></li>
      <li><span>Documents</span>
        <ul class="submenu">
          <li><a href="login/byLaws.html">Governing Docs</a></li>
          <li><a href="login/arch.html">Architectural Docs</a></li>
          <li><a href="login/letters.html">Letters</a></li>
        </ul>
      </li>
      <li><span>Forms</span>
        <ul class="submenu">
          <li><a href="login/registration.html">Registration Form</a></li>
          <li><a href="login/exteriorMod.html">Modify Exterior App</a></li>
          <li><a href="login/winterWatch.html">Winter Watch App</a></li>
          <li><a href="login/tenant.html">Tenant Information</a></li>
          <li><a href="login/guestInfo.html">Guest Information</a></li>
          <li><a href="login/parkingApp.html">Parking Sticker App</a></li>
        </ul>
      </li>
      <li><a href="covid-19.html">Coronavirus</a></li>
    </div>

    <div class="content">
      <div class="gallery">

        <img
          class="pic" id='i1'
          onclick="getid(i1); return false"
          src="../images/entrance1.jpg"
          alt="The Village Entrance"
        >
        <img
          class="pic" id='i2'
          onclick="getid(i2); return false"
          src="../images/poolDeck.jpg"
          alt="Large pool deck with plenty of seating"
        >
        <img
          class="pic" id='i3'
          onclick="getid(i3); return false"
          src="../images/poolView1.jpg"
          alt="Get a tan with a great view"
        >
        <img
          class="pic" id='i4'
          onclick="getid(i4); return false"
          src="../images/poolView2.jpg"
          alt="Looking at the pool from the deck"
        >
        <img
          class="pic" id='i5'
          onclick="getid(i5); return false"
          src="../images/steamyPool1.jpg"
          alt="Our heated pool is always warm, even on chilly mornings"
        >
        <img
          class="pic" id='i7'
          onclick="getid(i7); return false"
          src="../images/poolEnt1.jpg"
          alt="A friendly entrance to the gated pool"
        >
        <img
          class="pic" id='i8'
          onclick="getid(i8); return false"
          src="../images/frontGarden.jpg"
          alt="The beautiful garden at the front as you pull in"
        >
        <img
          class="pic" id='i9'
          onclick="getid(i9); return false"
          src="../images/tennisBld.jpg"
          alt="The Tennis Building has a ping-pong table and offers a place to change for the pool"
        >
        <img
          class="pic" id='i10'
          onclick="getid(i10); return false"
          src="../images/tennisCourt1.jpg"
          alt="Play tennis on a high quality clay court"
        >
        <img
          class="pic" id='i11'
          onclick="getid(i11); return false"
          src="../images/tennisCourt2.jpg"
          alt="With four courts there is plenty of room to play.">
        <img
          class="pic" id='i12'
          onclick="getid(i12); return false"
          src="../images/tennisCourt3.jpg"
          alt="Conveniently Located at the center of Mountain Circle"
        >
        <img
          class="pic" id='i13'
          onclick="getid(i13); return false"
          src="../images/EntHgAlt.jpg"
          alt="Looking out south"
        >
        <img
          class="pic" id='i14'
          onclick="getid(i14); return false"
          src="../images/hghAlt1.jpg"
          alt="Looking off at old High Mount"
        >
        <img
          class="pic" id='i15'
          onclick="getid(i15); return false"
          src="../images/hghAlt2.jpg"
          alt="Looking off at Plattekill Mountain"
        >
        <img
          class="pic" id='i16'
          onclick="getid(i16); return false"
          src="../images/hghAlt3.jpg"
          alt="Looking out south-west"
        >


        <img
          class="pic" id='i17'
          onclick="getid(i2); return false"
          src="../images/pingpong1.jpg"
          alt="The ping pong table upstairs of the Tennis Building"
        >
        <img
          class="pic" id='i18'
          onclick="getid(i3); return false"
          src="../images/pingpong2.jpg"
          alt="Plenty of lighting, so you wont miss the ball"
        >
        <img
          class="pic" id='i19'
          onclick="getid(i4); return false"
          src="../images/tennisBld2.jpg"
          alt="A place to go and spend some quality time with friends"
        >
        <img
        class="pic" id='i20'
        onclick="getid(i1); return false"
        src="../images/cluster3BackD.jpg"
        alt="Looking Over Cluster 3"
        >
        <img
          class="pic" id='i21'
          onclick="getid(i5); return false"
          src="../images/units1.jpg"
          alt="Change with the steamy pool on phone"
        >
        <img
          class="pic" id='i22'
          onclick="getid(i7); return false"
          src="../images/units2.jpg"
          alt="An example of some of the homes in our community"
        >
        <img
          class="pic" id='i23'
          onclick="getid(i8); return false"
          src="../images/units3.jpg"
          alt="An example of some of the homes in our community"
        >
        <img
          class="pic" id='i24'
          onclick="getid(i9); return false"
          src="../images/units4.jpg"
          alt="An example of some of the homes in our community"
        >
        <img
          class="pic" id='i125'
          onclick="getid(i10); return false"
          src="../images/units5.jpg"
          alt="An example of some of the homes in our community"
        >
        <img
          class="pic" id='i26'
          onclick="getid(i11); return false"
          src="../images/units6.jpg"
          alt="An example of some of the homes in our community">
        <img
          class="pic" id='i27'
          onclick="getid(i12); return false"
          src="../images/units7.jpg"
          alt="An example of some of the homes in our community"
        >
        <img
          class="pic" id='i28'
          onclick="getid(i13); return false"
          src="../images/fallMorning.jpg"
          alt="Beautiful early morning fall view"
        >
        <img
          class="pic" id='i29'
          onclick="getid(i14); return false"
          src="../images/Halloween19.jpg"
          alt="Staying festive, our 2019 Halloween display"
        >
        <img
          class="pic" id='i30'
          onclick="getid(i16); return false"
          src="../images/office.jpg"
          alt="We have a main office located at 130 Mountainside Circle"
        >
        <img
          class="pic" id='i31'
          onclick="getid(i15); return false"
          src="../images/playground2.jpg"
          alt="Quaint little playground located behind the office"
        >
        <img
          class="pic" id='i32'
          onclick="getid(i15); return false"
          src="../images/benchSnow.jpg"
          alt="With winter right around the corner"
        >
        <img
          class="pic" id='i33'
          onclick="getid(i15); return false"
          src="../images/snowFront.jpg"
          alt="Winter is here"
        >
        <img
          class="pic" id='i34'
          onclick="getid(i15); return false"
          src="../images/snow.jpg"
          alt="Roads and parking areas are always kept plowed"
        >
        <img
          class="pic" id='i35'
          onclick="getid(i15); return false"
          src="../images/shoveldpath.jpg"
          alt="Walk ways will be shoveled for you"
        >
        <img
          class="pic" id='i36'
          onclick="getid(i15); return false"
          src="../images/snowClust3.jpg"
          alt="Winters Beauty"
        >

        <div id="myModal" class="modal">
          <span class="close">&times;</span>
          <img class="modal-content" id="img01">
          <div id="caption"></div>
        </div>

      </div>

      <footer id="footer">
        <div class="contact-us">
          <p>Contact Us</p>
          <hr>
          <p>P.O. Box 115 Denver</p>
          <p>Ny 12421</p>
          <p>(607) 326-7677</p>
        </div>
        <div class="contact-me">
          <a href="http://legend-gary.com/">
            <div class="logo"></div>
            <div class="my-link">
              <p>Website By</p>
              <p>Legend Gary Developments</p>
            </div>
          </a>
        </div>
      </footer>
    </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/sidebarSet.js"></script>
    <script src="../js/gallery.js"></script>
  </body>
</html>
