<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Roxbury Run Village</title>
    <link href="https://fonts.googleapis.com/css?family=Amiri|Calistoga|Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/contacts.css">

  </head>
  <body>
    <header id='head'>
      <h1 id="title">Roxbury Run Village</h1>
    </header>

    <nav id='nav'>
      <!-- Main Start-->
      <label for="drop" class="toggle">Menu</label>
      <input type="checkbox" id="drop" />
      <ul class="menu">
        <li><a class="test" href="../index.html">Home</a></li>
        <li><a class="test" href="about.html">About Us</a></li>
        <li><a class="test" href="amenities.html">Amenities</a></li>
        <li><a class="test" href="gallery.html">Gallery</a></li>
        <li><a class="test" href="localAttractions.html">Local Attractions</a></li>
        <!-- <li><a href="localWeather.html">Local Weather</a></li> -->
        <li><a class="test" href="location.html">Location</a></li>
        <li>
            <!-- Information Start-->
            <label for="drop-1" class="toggle">Information +</label>
            <a href="#">Information</a>
            <input type="checkbox" id="drop-1"/>
            <ul>
                <li><a class="test" href="#">Key Contacts</a></li>
                <li><a class="test" href="trails.html">Private Trails</a></li>
                <li><a class="test" href="camera.html">Live Camera</a></li>
                <li>
                  <!-- FOR HOMEOWNERS Start-->
                  <label for="drop-2" class="toggle">For Homeowners +</label>
                  <a href="#">For Homeowners</a>
                  <input type="checkbox" id="drop-2"/>
                  <ul>
                    <li><a class="test" href="login/byLaws.html">Governing Docs</a></li>
                    <li><a href="login/arch.html">Architectural Docs</a></li>
                    <li><a class="test" href="letters.html">Letters</a></li>
                    <li>
                      <!-- FORMS Start-->
                      <label for="drop-3" class="toggle">Forms +</label>
                      <a href="#">Forms</a>
                      <input type="checkbox" id="drop-3"/>
                      <ul>
                        <li><a href="../forms/registration.php">Registration Form</a></li>
                        <li><a href="../forms/exteriorMod.php">Modify Exterior App</a></li>
                        <li><a href="../forms/winterWatch.php">Winter Watch App</a></li>
                        <li><a href="../forms/tenant.php">Tenant Information</a></li>
                        <li><a href="../forms/guestInfo.php">Guest Information</a></li>
                        <li><a href="../forms/parkingApp.php">Parking Sticker App</a></li>
                      </ul>
                      <!-- FORMS End -->
                    </li>

                  </ul>
                  <!-- FOR HOMEOWNERS End-->
                </li>

            </ul>
            <!-- Information End-->
        </li>
        <li><a href="covid-19.html">Coronavirus</a></li>
      </ul>
      <!-- main End-->

    </nav>

    <div class="sidebar">
      <li><a href="../index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="amenities.html">Amenities</a></li>
      <li><a href="trails.html">Private Trails</a></li>
      <li><a href="localAttractions.html">Local Attractions</a></li>
      <!-- <li><a href="localWeather.html">Local Weather</a></li> -->
      <li><a href="camera.html">Live Camera</a></li>
      <li><a href="location.html">Location</a></li>
      <li><a href="#">Key Contacts</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><span>Documents</span>
        <ul class="submenu">
          <li><a href="login/byLaws.html">Governing Docs</a></li>
          <li><a href="login/arch.html">Architectural Docs</a></li>
          <li><a href="../newsUpdates/letters.html">Letters</a></li>
        </ul>
      </li>
      <li><span>Forms</span>
        <ul class="submenu">
          <li><a href="../forms/registration.php">Registration Form</a></li>
          <li><a href="../forms/exteriorMod.php">Modify Exterior App</a></li>
          <li><a href="../forms/winterWatch.php">Winter Watch App</a></li>
          <li><a href="../forms/tenant.php">Tenant Information</a></li>
          <li><a href="../forms/guestInfo.php">Guest Information</a></li>
          <li><a href="../forms/parkingApp.php">Parking Sticker App</a></li>
        </ul>
      </li>
      <li><a href="covid-19.html">Coronavirus</a></li>
    </div>

    <div class="content">
      <div class="contact-list">
        <h2>Key Contacts</h2>

        <div class="contact">
          <h4>RR Village Association, Inc Office</h4>
          <p>Email: rrvainc@catskill.net</p>
          <p>Phone: (607) 326-7677</p>
          <p>fax: (607) 326-2927</p>
        </div>
        <hr>
        <div class="contact">
          <h4>Denver Water/Sewer Emergencies - Tom Hynes, Supervisor</h4>
          <p>Phone: (607) 326-7921</p>
        </div>
        <hr>
        <div class="contact">
          <h4>Denver Sewer Plant - Issues</h4>
          <p>Phone: (607) 326-3141</p>
        </div>
        <hr>
        <div class="contact">
          <h4>Denver Water Plant - Issues</h4>
          <p>Phone: (607) 326-4954</p>
        </div>
        <hr>
        <div class="contact">
          <h4>Denver Water/Sewer General Qestions - Diane Picket, Town Clerk</h4>
          <p>Phone: (607) 326-7641</p>
        </div>
        <hr>
        <div class="contact">
          <h4>Denver Water/Sewer Operators - Emergencies - Dan Spearbeck</h4>
          <p>Phone: (518) 231-1737</p>
        </div>
        <hr>
        <div class="contact">
          <h4>Denver Water/Sewer Operators - Emergencies - Mike Jonker</h4>
          <p>Phone: (518) 231-2713</p>
        </div>
        <hr>
        <div class="contact">
          <h4>Town Constable - Steve Williamson</h4>
          <p>Phone: (607) 588-7252</p>
        </div>
        <hr>
        <div class="contact">
          <h4>Dog Control Officer</h4>
          <p>Phone: (845) 586-4643</p>
        </div>
        <hr>
        <div class="contact">
          <h4>Margaretville Telephone Co. ~ Cable,Internet,Phone</h4>
          <p>Phone: (845) 586-3311</p>
        </div>
        <hr>
        <div class="contact">
          <h4>NYSEG</h4>
          <p>Phone: 800-572-1111</p>
        </div>
        <hr>
        <br><br>
        <h2>Contractors List</h2>
        <p>
          ***	FAMILIAR WITH INSTALLATION OF DOORS AND WINDOWS, FRAMING, BOXBEAM REPAIRS
          THESE BUSINESSES/INDIVIDUALS HAVE ASKED TO BE LISTED AS WILLING TO PERFORM SERVICES FOR RRVA
          HOMEOWNERS.  RRVA IN NO WAY ENDORSES RECOMMENDS OR PROMOTES ANY PARTICULAR SUCH
          BUSINESS OR INDIVIDUAL. It is your obligation to verify that your contractor carries the
          necessary insurance for any work done on your behalf.
        </p>
        <br>
          <div class="contact">
            <p>ABBA , TIM & ROB ROE</p>
            <p>CONSTRUCTION</p>
            <p>845-254-4426</p>
          </div>
          <hr>
          <div class="contact">
            <p>COLE & GRIFFIN</p>
            <p>CONSTRUCTION</p>
            <p>607-326-7788</p>
          </div>
          <hr>
          <div class="contact">
            <p>DARIO PACHECO</p>
            <p>CONSTRUCTION</p>
            <p>845-586-4360</p>
          </div>
          <hr>
          <div class="contact">
            <p>LARRY DEMAIO</p>
            <p>CONSTRUCTION</p>
            <p>607-326-3211</p>
          </div>
          <hr>
          <div class="contact">
            <p>LENNY MILLEN</p>
            <p>CONSTRUCTION</p>
            <p>845-586-2220</p>
          </div>
          <hr>
          <div class="contact">
            <p>STEVE WALKER</p>
            <p>CONSTRUCTION</p>
            <p>607-326-4769</p>
          </div>
          <hr>
          <div class="contact">
            <p>CARL TUCKER</p>
            <p>CONSTRUCTION</p>
            <p>607-326-7934</p>
          </div>
          <hr>
          <div class="contact">
            <p>JENKINS DRY WALL</p>
            <p>CONSTRUCTION</p>
            <p>845-586-1644</p>
          </div>
          <hr>
          <div class="contact">
            <p>DEBARI'S CARPET/FLOOR</p>
            <p>CONSTRUCTION</p>
            <p>845-586-4519</p>
          </div>

          <hr>
          <div class="contact">
            <p>PESTECH</p>
            <p>EXTERMINATOR</p>
            <p>800-287-2847</p>
          </div>
          <hr>
          <div class="contact">
            <p>PUTMAN PEST CNTRL</p>
            <p>EXTERMINATOR</p>
            <p>800-439-9022</p>
          </div>
          <hr>
          <div class="contact">
            <p>TERMINEX</p>
            <p>EXTERMINATOR</p>
            <p>866-728-8239</p>
          </div>
          <hr>
          <div class="contact">
            <p>CATSKILL MTN PEST</p>
            <p>EXTERMINATOR</p>
            <p>845-338-6278</p>
          </div>
          <hr>
          <div class="contact">
            <p>PESTMASTER SERVICES</p>
            <p>EXTERMINATOR</p>
            <p>845-340-9700</p>
          </div>

          <hr>
          <div class="contact">
            <p>ROB DEE</p>
            <p>PAINTER - ROOF RAKER</p>
            <p>607-326-4013</p>
          </div>
          <hr>
          <div class="contact">
            <p>DAN LORENZO </p>
            <p>PAINTER</p>
            <p>845-586-2326</p>
          </div>
          <hr>
          <div class="contact">
            <p>Z-PAINTING</p>
            <p>PAINTER</p>
            <p>845-586-2306</p>
          </div>

          <hr>
          <div class="contact">
            <p>ED SANFORD</p>
            <p>PLUMBER/ELECTRIC</p>
            <p>607-326-7988</p>
          </div>
          <hr>
          <div class="contact">
            <p>BRIAN WALSH</p>
            <p>PLUMBER</p>
            <p>845-254-5397</p>
          </div>
          <hr>
          <div class="contact">
            <p>HAROLD PETERS</p>
            <p>PLUMBER</p>
            <p>607-326-4360</p>
          </div>
          <hr>
          <div class="contact">
            <p>NOTH PLUMBING</p>
            <p>PLUMBER/ELECTRIC</p>
            <p>845-688-5901</p>
          </div>
          <hr>
          <div class="contact">
            <p>KURT FLACKS </p>
            <p>PLUMBER</p>
            <p>607-326-4830</p>
          </div>
          <hr>
          <div class="contact">
            <p>LADYROOTER.COM</p>
            <p>PLUMBER</p>
            <p>845-246-1858</p>
          </div>
          <hr>
          <div class="contact">
            <p>TNT PLUMBING</p>
            <p>PLUMBER/MONITOR HEATERS</p>
            <p>845-254-5100</p>
          </div>
          <hr>
          <div class="contact">
            <p>BLIZZARD ELECTRIC</p>
            <p>ELECTRIC</p>
            <p>845-586-5144</p>
          </div>
          <hr>
          <div class="contact">
            <p>MATT STRANK</p>
            <p>PLUMBER</p>
            <p>845-254-5628</p>
          </div>
          <hr>
          <div class="contact">
            <p>TROS PLUMBING</p>
            <p>PLUMBER</p>
            <p>607-326-6215</p>
          </div>
          <hr>
          <div class="contact">
            <p>MIKE HINKLEY</p>
            <p>ELECTRIC</p>
            <p>607-326-7832</p>
          </div>
          <hr>
          <div class="contact">
            <p>SAL AMENDALLO</p>
            <p>ELECTRIC</p>
            <p>845-586-1473</p>
          </div>

          <hr>
          <div class="contact">
            <p>RAYMONDS CARPET CLEAN</p>
            <p>CARPET CLEANER</p>
            <p>607-746-7244</p>
          </div>
          <hr>
          <div class="contact">
            <p>KEN HINKLEY</p>
            <p>EXCAVATING & FNDTNS</p>
            <p>607-326-4001</p>
          </div>
          <hr>
          <div class="contact">
            <p>DEAN HUNTER</p>
            <p>EXCAVATING & FNDTNS</p>
            <p>845-586-4330</p>
          </div>
          <hr>
          <div class="contact">
            <p>TOM RYDER</p>
            <p>ROOF RAKER</p>
            <p>607-287-0408</p>
          </div>
          <hr>
          <div class="contact">
            <p>ISAAC CLINE</p>
            <p>DECK SHOVELING - PLUS</p>
            <p>607-422-5461</p>
          </div>
          <hr>
          <div class="contact">
            <p>TRI-COUNTY GLASS</p>
            <p>WINDOWS, SCREENS</p>
            <p>607-432-1193</p>
          </div>
          <hr>
          <div class="contact">
            <p>VAN TOM EXPRESS</p>
            <p>MOVER</p>
            <p>845-254-4183</p>
          </div>
          <hr>
          <div class="contact">
            <p>GROCHOLL LANDSCAPING</p>
            <p>LANDSCAPER (RRVA'S)</p>
            <p>845-254-4706</p>
          </div>
          <hr>
          <div class="contact">
            <p>FOUR SEASONS LNDSP</p>
            <p>LANDSCAPER/EXCAVATE</p>
            <p>607-326-2939</p>
          </div>

          <hr>
          <div class="contact">
            <p>BUCKY (DAVID) CARR</p>
            <p>REFUSE REMOVAL</p>
            <p>607-376-6565</p>
          </div>
          <hr>
          <div class="contact">
            <p>AARON DUMOND</p>
            <p>REFUSE REMOVAL</p>
            <p>607-437-1789</p>
          </div>

          <hr>
          <div class="contact">
            <p>ASHES TO ASHES</p>
            <p>CHIMNEY SWEEP</p>
            <p>518-734-9464</p>
          </div>
          <hr>
          <div class="contact">
            <p>FIREFIGHTER SWEEP</p>
            <p>CHIMNEY SWEEP</p>
            <p>607-746-9621</p>
          </div>
          <hr>
          <div class="contact">
            <p>TINDERBOX</p>
            <p>CHIMNEY SWEEP</p>
            <p>845-254-5999</p>
          </div>

          <hr>
          <div class="contact">
            <p>TED &TED CHIMNEY SWEEPS</p>
            <p>CHIMNEY SWEEP</p>
            <p>607-746-9621</p>
          </div>

          <hr>
          <div class="contact">
            <p>RICK FORESMAN</p>
            <p>FIREWOOD</p>
            <p>607-326-3674</p>
          </div>
          <hr>
          <div class="contact">
            <p>KEVIN BALLARD</p>
            <p>FIREWOOD</p>
            <p>607-326-4743</p>
          </div>
          <hr>
          <div class="contact">
            <p>RALPH FELTER</p>
            <p>FIREWOOD</p>
            <p>845-586-4752</p>
          </div>

          <hr>
          <div class="contact">
            <p>Gary Du Mond</p>
            <p>Web Developer</p>
            <p>607-435-4268</p>
          </div>

      </div>

      <footer id="footer">
        <div class="contact-us">
          <p>Contact Us</p>
          <hr>
          <p>P.O. Box 115 Denver</p>
          <p>Ny 12421</p>
          <p>(607) 326-7677</p>
        </div>
        <div class="contact-me">
          <a href="http://legend-gary.com/">
            <div class="logo"></div>
            <div class="my-link">
              <p>Website By</p>
              <p>Legend Gary Developments</p>
            </div>
          </a>
        </div>
      </footer>
    </div>



    <script src="../js/jquery.js"></script>
    <script src="../js/sidebarSet.js"></script>

  </body>
</html>
