<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Roxbury Run Village</title>
    <link href="https://fonts.googleapis.com/css?family=Amiri|Calistoga|Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/localAttractions.css">
  </head>
  <body>
    <header id='head'>
      <h1 id="title">Roxbury Run Village</h1>
    </header>

    <section id="main-container">
      <nav id='nav'>
        <!-- Main Start-->
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
          <li><a class="test" href="../index.html">Home</a></li>
          <li><a class="test" href="about.html">About Us</a></li>
          <li><a class="test" href="amenities.html">Amenities</a></li>
          <li><a class="test" href="gallery.html">Gallery</a></li>
          <li><a class="test" href="#">Local Attractions</a></li>
          <!-- <li><a href="localWeather.html">Local Weather</a></li> -->
          <li><a class="test" href="location.html">Location</a></li>
          <li>
              <!-- Information Start-->
              <label for="drop-1" class="toggle">Information +</label>
              <a href="#">Information</a>
              <input type="checkbox" id="drop-1"/>
              <ul>
                  <li><a class="test" href="login/keyContacts.html">Key Contacts</a></li>
                  <li><a class="test" href="trails.html">Private Trails</a></li>
                  <li><a class="test" href="camera.html">Live Camera</a></li>
                  <li>
                    <!-- FOR HOMEOWNERS Start-->
                    <label for="drop-2" class="toggle">For Homeowners +</label>
                    <a href="#">For Homeowners</a>
                    <input type="checkbox" id="drop-2"/>
                    <ul>
                      <li><a class="test" href="login/byLaws.html">Governing Docs</a></li>
                      <li><a href="login/arch.html">Architectural Docs</a></li>
                      <li><a class="test" href="login/letters.html">Letters</a></li>
                      <li>
                        <!-- FORMS Start-->
                        <label for="drop-3" class="toggle">Forms +</label>
                        <a href="#">Forms</a>
                        <input type="checkbox" id="drop-3"/>
                        <ul>
                          <li><a href="login/registration.html">Registration Form</a></li>
                          <li><a href="login/exteriorMod.html">Modify Exterior App</a></li>
                          <li><a href="login/winterWatch.html">Winter Watch App</a></li>
                          <li><a href="login/tenant.html">Tenant Information</a></li>
                          <li><a href="login/guestInfo.html">Guest Information</a></li>
                          <li><a href="login/parkingApp.html">Parking Sticker App</a></li>
                        </ul>
                        <!-- FORMS End -->
                      </li>

                    </ul>
                    <!-- FOR HOMEOWNERS End-->
                  </li>

              </ul>
              <!-- Information End-->
          </li>
          <li><a href="covid-19.html">Coronavirus</a></li>
        </ul>
        <!-- main End-->

      </nav>

      <div class="sidebar">
        <li><a href="../index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="amenities.html">Amenities</a></li>
        <li><a href="trails.html">Private Trails</a></li>
        <li><a href="#">Local Attractions</a></li>
        <!-- <li><a href="localWeather.html">Local Weather</a></li> -->
        <li><a href="camera.html">Live Camera</a></li>
        <li><a href="location.html">Location</a></li>
        <li><a href="login/keyContacts.html">Key Contacts</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><span>Documents</span>
          <ul class="submenu">
            <li><a href="login/byLaws.html">Governing Docs</a></li>
            <li><a href="login/arch.html">Architectural Docs</a></li>
            <li><a href="login/letters.html">Letters</a></li>
          </ul>
        </li>
        <li><span>Forms</span>
          <ul class="submenu">
            <li><a href="login/registration.html">Registration Form</a></li>
            <li><a href="login/exteriorMod.html">Modify Exterior App</a></li>
            <li><a href="login/winterWatch.html">Winter Watch App</a></li>
            <li><a href="login/tenant.html">Tenant Information</a></li>
            <li><a href="login/guestInfo.html">Guest Information</a></li>
            <li><a href="login/parkingApp.html">Parking Sticker App</a></li>
          </ul>
        </li>
        <li><a href="covid-19.html">Coronavirus</a></li>
      </div>

      <div class="content">

        <div class="outer out-eat">
          <h2>Eat and Drink</h2>

          <div class="inner in-eat">
            <div class="item">
              <h3>Oakley's</h3>
              <a target="_blank" href="https://www.oakleyswoodfirepizzaandgrill.com/">oakleyswoodfirepizzaandgrill.com</a>
              <p>
                A warm and welcoming restaurant that offers delicious food from a
                wood-fired grill.  They have outside seating where the family dog
                is welcome too.
              </p>
              <p>44681 NY-28 Arkville NY</p>
              <p>(845) 586-3474</p>
            </div>

            <div class="item">
              <h3>The Andes Hotel</h3>
              <a target="_blank" href="https://www.andeshotel.com/">andeshotel.com</a>
              <p>
                The Tavern offers 10 taps and over 60 bottles of beer, including
                microbrews from our local breweries.
              </p>
              <p>110 Main St, Andes NY</p>
              <p>(845) 676-4408</p>
            </div>

            <div class="item">
              <h3>Peekamoose</h3>
              <a target="_blank" href="https://www.peekamooserestaurant.com/">peekamooserestaurant.com</a>
              <p>
                Surrounded by mountains and backed by Big Indian's "forever wild"
                forest preserve, Peekamoose Restaurant is a great place for those
                looking for delicious American cuisine in a place of unparalleled
                beauty.
              </p>
              <p>8373 NY-28 Arkville NY</p>
              <p>(845) 254-6500</p>
            </div>

            <div class="item">
              <h3>Colonial Inn</h3>
              <a target="_blank" href="http://colonialinn.com/">colonialinn.com</a>
              <p>
                A cozy Victorian, family-style, bed and breakfast and Hotel.  With
                a Saturday night buffet from 5:30 P.M. to 9:00 P.M.
              </p>
              <p>Main Street, Pine Hill, NY</p>
              <p>(845) 254-5577</p>
            </div>

            <div class="item">
              <h3>Binnekill Tavern</h3>
              <a target="_blank" href="https://www.binnekill.com/">binnekill.com</a>
              <p>
                Found in the village of Margaretville, atop the Binnekill Stream,
                the Binnekill Tavern is exactly what you are looking for in a
                tavern.
              </p>
              <p>746 Main Street Margaretville NY</p>
              <p>(845) 586-4884</p>
            </div>

            <div class="item">
              <h3>Picnic</h3>
              <a target="_blank" href="https://www.facebook.com/pg/picnicmargaretville/about/?ref=page_internal">Picnics Facebook</a>
              <p>
                This dinner is a breakfast and lunch eatery that serves coffee and
                drinks.  It has outdoor seating and is good for kids.  They also
                have take out, and offers catering.
              </p>
              <p>75 Bridge Street Margaretville, NY</p>
              <p>(845) 586-1919</p>
            </div>
          </div>
        </div>

        <div class="outer out-golf">
          <h2>Golf</h2>

          <div class="inner in-golf">
            <div class="item">
              <h3>Hanna Country Club</h3>
              <a target="_blank" href="https://www.hanahcountryresort.com/">hanahcountryresort.com</a>
              <p>
                Resting on a Margaretville mountain top, Hanna Mountain Resort &
                Country Club is a top-notch golf resort with unmatched views and
                service. Hanna offers a full 18 holes with creeks, boulders, and
                other unique features to give a challenging course in a relaxing
                environment.
              </p>
              <p>576 W. Hubbell Hill Road Margaretville, NY</p>
              <p>(800) 752-6494</p>
            </div>

            <div class="item">
              <h3>Meadows Golf Center</h3>
              <a target="_blank" href="https://www.meadowsgolfcenter.com/">meadowsgolfcenter.com</a>
              <p>
                Meadows Golf course is a 9 hole par 3 three golf course right on
                the side of NY 28.
              </p>
              <p>42565 NY-28 Margaretville, NY</p>
              <p>(845) 586-4104</p>
            </div>

            <div class="item">
              <h3>Shepard Hills Golf Club</h3>
              <a target="_blank" href="https://www.shephardhills.com/">shephardhills.com</a>
              <p>
                Shepard Hills Golf Club is not only a beautiful and challenging
                course, but also has a lot of history.  The stone club house was
                originally a guest cottage, built on the Helen Gould estate.  The
                contruction of the 9 hole course began in 1916.
              </p>
              <p>562 Shephard Hill Road, Roxbury, NY</p>
              <p>(607) 326-7121</p>
            </div>

          </div>
        </div>

        <div class="outer out-ski">
          <h2>Skiing/ Snowboarding</h2>

          <div class="inner in-ski">
            <div class="item">
              <h3>Plattekill Mountain</h3>
              <a target="_blank" href="https://www.plattekill.com/">plattekill.com</a>
              <p>
                Found deep in the Western Catskill mountains, Plattekill is a family-owned
                ski resort.  Due to the great location of Plattekill, it isn't
                uncommon to find fresh snow, even if just an inch, when you
                arrive for a day of skiing.  Plattekill is a well know
                downhill mountain bike resort.
              </p>
              <p>469 Plattekill Road Roxbury, NY</p>
              <p>(607) 326-3500</p>
            </div>

            <div class="item">
              <h3>Bellyeare Mountain</h3>
              <a target="_blank" href="https://www.bellyeare.com/">bellyeare.com</a>
              <p>
                Bellyeare Mountain is easy to find and a
                great place to ski or ride.  Bellyeare has an adaptive skiing
                instruction program, combine that with their snowmaking, Bellyeare
                will always offer a great day on the mountain.
              </p>
              <p>33 Friendship Manor Road, Pine Hill NY</p>
              <p>(845) 254-619</p>
            </div>

            <div class="item">
              <h3>Windham Mountain</h3>
              <a target="_blank" href="https://www.windhammountain.com/">windhammountain.com</a>
              <p>
                Windham Mountain is a double face mountain that offers all the
                terrain of other major mountains plus a golf course and spa.  Windham
                dominates park riding with 6 different parks and over 80 features.
                Adding all the summertime activities, Windham makes a great mountain
                for year-round fun.
              </p>
              <p>19 Resort Drive, Windham, NY</p>
              <p>(518) 734-5372</p>
            </div>

            <div class="item">
              <h3>Hunter Mountain</h3>
              <a target="_blank" href="https://www.huntermtn.com/">huntermtn.com</a>
              <p>
                The furthest mountain, Hunter Mountain offers a
                must have experience.  Hunter has three skiable faces and multiple
                parks built for every level of skier/rider.  Hunter is an ever-changing
                and a fast-growing mountain.  Hunter is also home to some of the
                Catskill's biggest festivals, like "Taste Of Country".
              </p>
              <p>64 Klein Ave, Hunter NY</p>
              <p>888 486-8376</p>
            </div>

          </div>
        </div>

        <div class="outer out-activity">
          <h2>More Activities</h2>

          <div class="inner in-activity">
            <div class="item">
              <h3>Pepacton Bait & Tackle</h3>
              <a target="_blank" href="https://www.pepacton.com/">pepacton.com</a>
              <p>
                Having so many places to fish, reservoirs, lakes, rivers,
                streams, and brooks, Pepacton Bait and Tackle provides the gear
                to you out get there and fishing.  Here you can get everything
                from bait to tackle and boats.
              </p>
              <p>43021 NY-28 Arkville NY</p>
              <p>(845) 586-6211</p>
            </div>

            <div class="item">
              <h3>Susans Pleasant Pheasant Farm</h3>
              <a target="_blank" href="https://www.kayakingnewyork.com/">kayakingnewyork.com</a>
              <p>
                In the town of Halcottsville, along the shores of Lake Wawaka,
                nestled next to a waterfall, you can find Susans
                Pleasant Pheasant Farm.  With kayaks, bicycles, hiking trails,
                and sweeping water views, there will never be a dull moment.
              </p>
              <p>1 Bragg Hollow Road Halcottsville, NY</p>
              <p>(607) 326-4266</p>
            </div>

            <div class="item">
              <h3>BC's Climbing Gym</h3>
              <a target="_blank" href="https://bcclimbinggym.com/">bcclimbinggym.com</a>
              <p>
                As an indoor climbing gym, every weather is good weather for
                climbing.  BC's Climbing Gym offers plenty of challenging courses
                to climb.  If you need the gear, they have it all here, ready to
                rent out.  BC's Gym also offers classes for climbing and belaying.
              </p>
              <p>234 Main Street New Paltz, NY</p>
              <p>(845) 255-7625</p>
            </div>

            <div class="item">
              <h3>Tinker Town Tube Rental</h3>
              <a target="_blank" href="http://www.towntinker.com/">towntinker.com</a>
              <p>
                Go for an exciting adventure down the Esopus Creek, with Tinker
                Town Tube Rental.  This isn't a "lazy" river, The Esopus Creek is
                a class II white water experience with 1-3 foot rapids.  Tinker
                Town has everything you need from the tubes to safety equipment.
              </p>
              <p>10 Bridge Street Phoenicia, NY</p>
              <p>(845) 688-5535</p>
            </div>

            <div class="item">
              <h3>Delaware and Ulster Railroad</h3>
              <a target="_blank" href="https://durr.org/">durr.org</a>
              <p>
                Take a ride down one of our oldest features of our area, the
                Delaware and Ulster Railroad offer a train ride on vintage
                passenger train carts, both opened and closed. The train goes
                from Arkville to Roxbury, passing through Halcottsville, on new
                tracks of course.
              </p>
              <p>43510 NY-28 Arkville NY</p>
              <p>(845) 586-3877</p>
            </div>

            <div class="item">
              <h3>Catskill Recreational Center</h3>
              <a target="_blank" href="http://catskillrecreationcenter.org/">catskillrecreationcenter.org</a>
              <p>
                The Catskill Recreational Center, or CRC, is fitness and recreational
                center with a year-round indoor pool.  The CRC promotes healthy
                lifestyles and supports its members and guest in reaching their
                fitness goals.
              </p>
              <p>651 County Highway 38 Arkville, NY</p>
              <p>(845) 586-6250</p>
            </div>

          </div>
        </div>

        <div class="outer out-art">
          <h2>Local Art</h2>

          <div class="inner in-art">

              <div class="item">
                <h3>Main Stamford Art Center</h3>
                <p>76 Main St, Stamford, NY 12167</p>
                <p>(607) 652-7676</p>
              </div>

              <div class="item">
                <h3>Catskill Mountain Artisian Gld</h3>
                <p>785 Main St, Margaretville, NY</p>
                <p>(845) 586-3443</p>
              </div>

              <div class="item">
                <h3>Longyear Gallery</h3>
                <p>785 Main St, Margaretville, NY</p>
                <p>(845) 586-3270</p>
              </div>

              <div class="item">
                <h3>Open Eye Theater</h3>
                <p>960 Main St, Margaretville, NY 12455</p>
                <p>(845) 586-1660</p>
              </div>

              <div class="item">
                <h3>Erpf Gallery at Catskill Center</h3>
                <p>43355 NY-28, Arkville, NY</p>
                <p>(845) 586-2611</p>
              </div>

            </div>
        </div>

        <div class="outer out-distillery">
          <h2>Local Distilleries</h2>

          <div class="inner in-distillery">
            <div class="item">
              <h3>Union Grove Distillery</h3>
              <a target="_blank" href="https://www.uniongrovedistillery.com/">uniongrovedistillery.com</a>
              <p>
                A family-run distillery found right here in our neighboring town
                of Arkville.  Union Grove has been in operation since February
                2016 and currently uses New York apples and wheat to produce their
                award-winning Vly Creek Vodka.
              </p>
              <p>43311 NY-28 Arkville NY</p>
              <p>(845) 586-6300</p>
            </div>

            <div class="item">
              <h3>Delaware Phoenix Distillery</h3>
              <a target="_blank" href="http://www.delawarephoenix.com/">delawarephoenix.com</a>
              <p>
                A short drive away, in the village of Walton you can find another
                a distillery that specialized in the production of whiskey and
                absinthe.
              </p>
              <p>44 West Street Walton, NY</p>
              <p>(845) 586-3474</p>
            </div>

            <div class="item">
              <h3>Blue Sky Farm & Winery</h3>
              <a target="_blank" href="http://www.blueskyfarmwinery.com/">blueskyfarmwinery.com</a>
              <p>
                Started as a You-Pick Blueberry farm in 2005, by owner Russ Betz,
                this farm covers roughly 5 acres growing both Patriot and Blue Crop
                Blueberries.  In 2008 "Winery" was added to the Blue Sky Farm name,
                with now provides 4 all blueberry wines.
              </p>
              <p>779 Charcoal Road, Stamford NY</p>
              <p>(607) 652-4712</p>
            </div>
          </div>
        </div>

        <div class="outer out-more">
          <h2>Even More</h2>

          <div class="inner in-more">

              <div class="item">
                <h3>The Roxbury Motel</h3>
                <p>
                  One of Roxbury's largest attractions, the Roxbury Motel is a
                  beautiful Motel with no two rooms that are the same.
                </p>
                <p>2258 County Highway 41 Roxbury, NY</p>
                <p>(607) 326-7200</p>
                <a target="_blank" href="https://theroxburyexperience.com/">theroxburyexperience.com</a>
              </div>


              <div class="item">
                <h3>Roxbury's Website</h3>
                <p>
                  Here is the town of Roxbury's personal website. Here you can find
                  sorts of interesting and useful information.  Everything from
                  town board meeting, things to do, event, to the town's history.
                </p>
                <a target="_blank" href="http://roxburyny.com/">roxburyny.com</a>
              </div>

              <div class="item">
                <h3>Fleischmanns Website</h3>
                <p>
                  Much like the website for Roxbury, Fleischmanns website is a great
                  place to get any information about our neighboring town you might
                  need.  Such as things to do, or places to
                  go.
                </p>
                <a target="_blank" href="http://www.fleischmannsny.com/">www.fleischmannsny.com</a>
              </div>

              <div class="item">
                <h3>Margaretville Website</h3>
                <p>
                  One of our neighboring towns, Margaretville is only a short drive
                  away.  Margaretville is a busy little town with a lot to do and
                  offer.  On this site you can find pictures and information about
                  Margaretville.
                </p>
                <a target="_blank" href="http://margaretville.net/">margaretville.net</a>
              </div>

              <div class="item">
                <h3>Andes Website</h3>
                <p>
                  Andes NY is a small beautiful town rich with history just past
                  the town of Margaretville.  Andes offers places to go to
                  eat, shop, stay, and more.  Here you can find out anything you
                  need to know about Andes.
                </p>
                <a target="_blank" href="https://andesnewyork.com/">andesnewyork.com</a>
              </div>

              <div class="item">
                <h3>WIOX</h3>
                <p>
                  Would you belive Roxbury has its own radio station?  Not only
                  that, but they have live online steaming too, so you will never
                  miss you favorite local show.  Feel like hosting a show?  Go
                  here to see if there an available slot, or just find out more
                  about WIOX.
                </p>
                <a target="_blank" href="http://wioxradio.org">wioxradio.org</a>
              </div>

              <div class="item">
                <h3>Scenic Catskills</h3>
                <p>
                  NY-28 is one of the most traveled roads in our area.  Many of the
                  travelers are on their way to or from New York City.  Scenic
                  Catskills is focused on the beautification of this highly
                  traveled road.  On this site, you can learn more about NY-28 and
                  everything to see and do along the way.
                </p>
                <p>PO Box 516, Arkville, New York</p>
                <p>(845) 586-3500</p>
                <a target="_blank" href="https://sceniccatskills.com/">sceniccatskills.com</a>
              </div>

              <div class="item">
                <h3>Mark Project</h3>
                <p>
                  The Mark Project is a program dedicated to the economic
                  development, housing, community revitalization and technical
                  assistance programs to the region.  The Mark Project serves
                  Andes, Bovina, Fleischmanns, Margaretville Middletown, Roxbury
                  and Shandaken.
                </p>
                <p>PO Box 516, Arkville, New York</p>
                <p>(845) 586-3500</p>
                <a target="_blank" href="https://markproject.org/">markproject.org</a>
              </div>

            </div>
        </div>

        <footer id="footer">
          <div class="contact-us">
            <p>Contact Us</p>
            <hr>
            <p>P.O. Box 115 Denver</p>
            <p>Ny 12421</p>
            <p>(607) 326-7677</p>
          </div>
          <div class="contact-me">
            <a target="_blank" href="http://legend-gary.com/">
              <div class="logo"></div>
              <div class="my-link">
                <p>Website By</p>
                <p>Legend Gary Developments</p>
              </div>
            </a>
          </div>
        </footer>

      </div>
    </section>

    <script src="../js/jquery.js"></script>
    <script src="../js/localAttractions.js"></script>
    <script src="../js/sidebarSet.js"></script>
  </body>
</html>
