<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Roxbury Run Village</title>
    <link href="https://fonts.googleapis.com/css?family=Amiri|Calistoga|Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/trails.css">
  </head>
  <body>
    <header id='head'>
      <h1 id="title">Roxbury Run Village</h1>
    </header>

    <nav id='nav'>
      <!-- Main Start-->
      <label for="drop" class="toggle">Menu</label>
      <input type="checkbox" id="drop" />
      <ul class="menu">
        <li><a class="test" href="../index.html">Home</a></li>
        <li><a class="test" href="about.html">About Us</a></li>
        <li><a class="test" href="amenities.html">Amenities</a></li>
        <li><a class="test" href="gallery.html">Gallery</a></li>
        <li><a class="test" href="localAttractions.html">Local Attractions</a></li>
        <!-- <li><a href="localWeather.html">Local Weather</a></li> -->
        <li><a class="test" href="location.html">Location</a></li>
        <li>
            <!-- Information Start-->
            <label for="drop-1" class="toggle">Information +</label>
            <a href="#">Information</a>
            <input type="checkbox" id="drop-1"/>
            <ul>
                <li><a class="test" href="login/keyContacts.html">Key Contacts</a></li>
                <li><a class="test" href="#">Private Trails</a></li>
                <li><a class="test" href="camera.html">Live Camera</a></li>
                <li>
                  <!-- FOR HOMEOWNERS Start-->
                  <label for="drop-2" class="toggle">For Homeowners +</label>
                  <a href="#">For Homeowners</a>
                  <input type="checkbox" id="drop-2"/>
                  <ul>
                    <li><a class="test" href="login/byLaws.html">Governing Docs</a></li>
                    <li><a href="login/arch.html">Architectural Docs</a></li>
                    <li><a class="test" href="login/letters.html">Letters</a></li>
                    <li>
                      <!-- FORMS Start-->
                      <label for="drop-3" class="toggle">Forms +</label>
                      <a href="#">Forms</a>
                      <input type="checkbox" id="drop-3"/>
                      <ul>
                        <li><a href="login/registration.html">Registration Form</a></li>
                        <li><a href="login/exteriorMod.html">Modify Exterior App</a></li>
                        <li><a href="login/winterWatch.html">Winter Watch App</a></li>
                        <li><a href="login/tenant.html">Tenant Information</a></li>
                        <li><a href="login/guestInfo.html">Guest Information</a></li>
                        <li><a href="login/parkingApp.html">Parking Sticker App</a></li>
                      </ul>
                      <!-- FORMS End -->
                    </li>

                  </ul>
                  <!-- FOR HOMEOWNERS End-->
                </li>

            </ul>
            <!-- Information End-->
        </li>
        <li><a href="covid-19.html">Coronavirus</a></li>
      </ul>
      <!-- main End-->

    </nav>

    <div class="sidebar">
      <li><a href="../index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="amenities.html">Amenities</a></li>
      <li><a href="#">Private Trails</a></li>
      <li><a href="localAttractions.html">Local Attractions</a></li>
      <!-- <li><a href="localWeather.html">Local Weather</a></li> -->
      <li><a href="camera.html">Live Camera</a></li>
      <li><a href="location.html">Location</a></li>
      <li><a href="login/keyContacts.html">Key Contacts</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><span>Documents</span>
        <ul class="submenu">
          <li><a href="login/byLaws.html">Governing Docs</a></li>
          <li><a href="login/arch.html">Architectural Docs</a></li>
          <li><a href="login/letters.html">Letters</a></li>
        </ul>
      </li>
      <li><span>Forms</span>
        <ul class="submenu">
          <li><a href="login/registration.html">Registration Form</a></li>
          <li><a href="login/exteriorMod.html">Modify Exterior App</a></li>
          <li><a href="login/winterWatch.html">Winter Watch App</a></li>
          <li><a href="login/tenant.html">Tenant Information</a></li>
          <li><a href="login/guestInfo.html">Guest Information</a></li>
          <li><a href="login/parkingApp.html">Parking Sticker App</a></li>
        </ul>
      </li>
      <li><a href="covid-19.html">Coronavirus</a></li>
    </div>

    <div class="content">
      <div class="intro">
        <h1>Trails</h1>
        <h3>
          As you can here, the Roxbury Run Village has its own selection of trails
          to choose from.  With trails on both the north and south side of CR8 you'll
          have room to explore and enjoy nature in all its splendor.  In the Spring,
          summer, and fall the trails are cut and maintained, and with a pair of
          snowshoes the trails can be enjoyed year round.
        </h3>
      </div>

      <div class="full">
        <h2>Full Trail Map</h2>
        <img src="../images/trailmap3.jpg" alt="">
      </div>

      <div class="north">
        <h2>North Side Trail Map</h2>
        <img src="../images/trailmap1.jpg" alt="">
      </div>

      <div class="south">
        <h2>South Side Trail Map</h2>
        <img src="../images/trailmap2.jpg" alt="">
      </div>
      <br><br>

      <footer id="footer">
        <div class="contact-us">
          <p>Contact Us</p>
          <hr>
          <p>P.O. Box 115 Denver</p>
          <p>Ny 12421</p>
          <p>(607) 326-7677</p>
        </div>
        <div class="contact-me">
          <a href="http://legend-gary.com/">
            <div class="logo"></div>
            <div class="my-link">
              <p>Website By</p>
              <p>Legend Gary Developments</p>
            </div>
          </a>
        </div>
      </footer>
    </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/sidebarSet.js"></script>
  </body>
</html>
