<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Roxbury Run Village</title>
    <script type="text/javascript" src="../../js/status/statusLog.js"></script>
    <script type="text/javascript" src="../../js/login/exteriorMod.js"></script>
  </head>
  <body>
    <div style="text-align: center; margin: 0 auto; color: #0000FF; font: normal 13px arial, sans-serif;">
      Enter your password:<br>
      <form name="login" style="margin: 5px 0px 0px 0px;">
        <input type="button" value="Click to Login" style="width: 134px; margin: 4px auto 4px auto;" onclick="passWord()">
      </form>
    </div>
  </body>
</html>
